*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml
/docs/Manifest.toml
/docs/build/
.CondaPkg
madrigalWeb
openmadrigal
__pycache__
pixi.lock
.pytest_cache# pixi environments
.pixi/*
!.pixi/config.toml
python/dist